@import url("http://fonts.googleapis.com/css?family=Fredoka+One");
@import url(http://fonts.googleapis.com/css?family=Merienda);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,400italic);

.navbar-inverse{
	background-color: rgba(52,68,145,1) !important;
	color: white !important;
	border: transparent !important;
	border-radius: 0 !important;
}

.carousel-indicators{	
	left: 80% !important;
	width: 20% !important;
	margin-left: 0 !important;

}

.navbar-nav a{
	color: white !important;

}
.navbar-nav a:hover{
	color: white !important;
}

.slider img{
	height: 41em !important;
	width: 100%;
}

#banner{
	margin-bottom: 10px;
}
.ulServicios{
	list-style-image: url("http://ex000620.ferozo.com/img/1414014311_38.png");
}
.ulServicios li {
	vertical-align: middle;
}
.ulx li{	
	width: 20%;
	height: 3.5em;
	float: left;
	overflow: hidden;
	top: 0px;
	font-family: 'Fredoka One', cursive;
}
.menuhome a:hover{
	text-decoration: none;
	color: white;
}

.menuhome a{
	color:white;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
}
.contenedor_general{
	width: 100%;
	height: 80px;
	-webkit-transition:margin-top .2s;
}
.contenedor_general:hover{
	margin-top: -3.5em;
}
.contenedor_uno{
	width: 100%;
	height: 3.5em;
	overflow: hidden;
	border-bottom: 5px solid #FF9500;
}
.contenedor_dos{
	width: 100%;
	height: 3.5em;
	background: #2E3CDE;
	overflow: hidden;
	border-bottom: 5px solid yellow;
}
p.texto_uno, p.texto_dos{
	text-align: center;
	margin-top: 10px;
	color: white;
}
#buscanav{
	visibility: hidden;
	display:none;
}


.contac{
	margin: auto;
	background: #ffffff;
	width: 80%;
	-webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
	-moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
	border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
	-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
	-moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
	box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
	border: solid 1px #cbc9c9;
	margin-bottom: 20px;
}
.form-horizontal{
	padding: 2%;
}

textarea{
	resize:none;
}
.contac iframe{
	margin: 0% 0% 30px 2%;
	width: 96%;
	height: 400px;
	-webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
	-moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
	border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
	-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
	-moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
	box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
	border: solid 1px #cbc9c9;
	margin-bottom: 20px;
}
.titulos{
	font-size: 0.875em;
	color: #4c4c4c;
	text-align: left;
	margin: 5px 0px 5px 0px;
}


.row {
	margin-right: -15px;
	margin-left: 0px;
}
.socialfacebook{
	margin-bottom: 3px;
}
.casades{
	margin-left: 20px;
}
/*----------------------------kratos-------------------------------------------------*/
.kratos{
	height: 40em !important;
	margin-top: 1em !important;
	margin-bottom: 1em !important;
}

.testbox {
	-webkit-border-radius: 8px/7px; 
	-moz-border-radius: 8px/7px; 
	border-radius: 8px/7px; 
	background-color: #ebebeb; 
	-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
	-moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
	box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
	border: solid 1px #cbc9c9;
	margin-top: 1em;
	position: absolute;
	z-index: 150;
}

.gender {
	vertical-align: center;
	text-align: center;
}

hr.sepa { 
	height: 5px;
	border-style: solid;
	border-color: #3a57af;
	border-width: 2px 0 0 0;
	text-align: center;
}

form{
	margin: 0 5%;
}

input[type=radio]:checked + label:after {
	opacity: 1;
}

.testbox input[type=text],[type=number],select {
	width: 100%; 
}
.testbox span{
	background: #3a57af;
}
.glyphicon{
	color: white;
	height: 12px;
}
#boton{
	background: #3a57af;
	color: white;
}

#grupobt{
	text-align: right;
	margin-bottom: 1em;
}
#Novedades{
	width: 100%;
	margin: 0px;
	height: auto;
}
.row{
	width: 100% !important;
}
hr.separadortitulo{ 
	height: 5px;
	border-style: solid;
	border-color: #3a57af;
	border-width: 2px 0 0 0;
	text-align: center;
}

hr.separadortitulo:after {
	content: 'Últimas Propiedades';
	color: #3a57af;
	position: relative;
	top: -0.7em;
	font-size: 1.5em;
	padding: 0 0.25em;
	background: white;
}

#footer {
	background:#3a57af;
	width:100%;
	height:auto;
	color: white;
	text-align: center;
}

hr.separador{ 
	height: 5px;
	border-style: solid;
	border-color: #3a57af;
	border-width: 2px 0 0 0;
	text-align: center;
}

hr.separador:after {
	content: 'Propiedades más Vistas';
	color: #3a57af;
	display: inline-block;
	position: relative;
	top: -0.7em;
	font-size: 1.5em;
	padding: 0 0.25em;
	background: white;
}

#footer h4{
	padding: 1.25em 0px;
	font-weight: normal !important;
}

h4{
	text-align: center;
	font-weight: bold !important;
}

.check{
	width: 15%;
}
.yeyo img{
	width: 100%;
	height: 30em !important;
}	

.desc{
	margin-left: -5em;
}

.video{
	margin-top: 1em;
	margin-bottom: 1em;
	height: 25em;
}

#info{
	text-align: center;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
#SkypeButton_Call_mesabienesracies_1 img{
	margin: 0px !important;
	vertical-align: 0px !important;
	width: 70px;
}
#dropdown_SkypeButton_Call_mesabienesracies_1{
	z-index: 99;
}
hr.separadorcontac{
	height: 5px;
	border-style: solid;
	border-color: #3a57af;
	border-width: 2px 0 0 0;
	text-align: center;
}

hr.separadorcontac:after {
	content: 'Estamos Ubicados';
	color: #3a57af;
	position: relative;
	top: -0.7em;
	font-size: 1.5em;
	padding: 0 0.25em;
	background: white;
}

hr.separadormsn{ 
	height: 5px;
	border-style: solid;
	border-color: #3a57af;
	border-width: 2px 0 0 0;
	text-align: center;
}

hr.separadormsn:after {
	content: 'Envie sus comentario';
	color: #3a57af;
	position: relative;
	top: -0.7em;
	font-size: 1.5em;
	padding: 0 0.25em;
	background: white;
}

hr.separadortitulo{ 
	height: 5px;
	border-style: solid;
	border-color: #3a57af;
	border-width: 2px 0 0 0;
	text-align: center;
}

hr.separadortitulo:after {
	content: 'Últimas Propiedades';
	color: #3a57af;
	position: relative;
	top: -0.7em;
	font-size: 1.5em;
	padding: 0 0.25em;
	background: white;
}

hr.separador1{ 
	height: 5px;
	border-style: solid;
	border-color: #3a57af;
	border-width: 2px 0 0 0;
	text-align: center;
}

hr.separador1:after {
	color: #3a57af;
	position: relative;
	top: -0.7em;
	font-size: 1.5em;
	padding: 0 0.25em;
	background: white;
}

#banerservicio{
	vertical-align: middle;
	margin-left: 10%;
}
#parrafopre{
	text-align: justify !important;
}


#wa{
	margin-top: 8%;
}

#titulopre{
	color: #A53F3F;
	font-size: 2em;
	text-decoration: underline;
}

#tituloout{
	color: #A53F3F;
	font-size: 2em;
	text-decoration: underline;
}

.empleo{
	margin: 5%;
	vertical-align: middle;
	width: 90%;
}
.parrafos{
	text-align: justify;
	width: 90%;
	margin-left: 5%;
}
.parrafoservicio{
	margin-top: 40%;
}

.icono{
	position: absolute;
	z-index: 14000;
	left: 3em;
	top: 1em;
	width: 22%;
}
#compartir-mail{

height: 32px;


}
.compartir .btn{
	padding: 6px 8px;
	border-radius: 0px;
}
a#compartir-mail {
margin-left: -43px;
margin-top: 1px;
}

.infoB{
	position: absolute;
	z-index: 14000;
	left: 1.25em;
	bottom: 20em;
	width: 25%;
	background-color: transparent;
	font-family: 'Merriweather';
	color: white;

}
.infoB a {
	color: white;
	text-decoration: none;
}
.meinteresadiv{
	position: fixed; 
	width: 350px; 
	height: 190px; 
	top: 0; 
	left: 0; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px; 
	font-weight: normal; 
	border: #333333 3px solid; 
	background-color: #FAFAFA; 
	color: #000000; 
	display:none;
}

.social{
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: right;
	width: 25%;
}
.icon-button-linkedin{

	border-radius: 1.6em;
	cursor: pointer;

	font-size: 1.8em;
	padding:0.35em 0.25em 0.35em 0.5em;
	height: 1.6em;
	line-height: 1.6em;
	margin: 5px 5px;

	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 1.6em;
	background-color: #0976b4;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.icon-button-twitter{

	border-radius: 1.6em;
	cursor: pointer;
	font-size: 1.8em;
	padding:0.35em 0.25em 0.35em 0.5em;
	height: 1.6em;
	line-height: 1.6em;
	margin: 10px 5px;

	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 1.6em;
	background-color: #55acee;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.icon-button-facebook{

	border-radius: 1.6em;
	cursor: pointer;

	font-size: 1.8em;
	padding:0.35em 0.55em 0.35em 0.55em;
	height: 1.6em;
	line-height: 1.6em;
	margin: 5px 5px;

	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 1.6em;
	background-color: #3b5998;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.icon-button-google{

	border-radius: 1.6em;
	cursor: pointer;

	font-size: 1.8em;
	padding:0.35em 0.55em 0.35em 0.55em;
	height: 1.6em;
	line-height: 1.6em;
	margin: 5px 5px;

	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 1.6em;
	background-color: #dd4b39;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.fa-linkedin,.fa-twitter,.fa-facebook,.fa-google{
	color: white;
}

.icon-button-google:hover{

	background-color: #4285f4;

}

.icon-button-facebook:hover{
	background-color: #0976b4;
}

.icon-button-twitter:hover{
	background-color: #3b5998;
}
.icon-button-linkedin:hover{
	background-color: #55acee;
}
.tituloanuncio{

	text-align: center;
	margin-left: 1em;
	height: 3em;

}
.tituloanuncio h4{
	font-size: 15px;
}
#interesa{
	margin-top: 1em;
	margin-left: 18%;
}
.espacio{
	height: 4em !important;
}
/*---------------Detalles casa-------------------*/
.list-group{
	margin-left: 10px;
	width: 100%;
	margin-top: -10px;

	
}
.list-group-item{
	border-radius: 0px !important;
	height: 40px;
	font-size: 16px;
	font-weight: bold;
	-webkit-box-shadow: 0.2em 0.2em 0.5px #e6e6e6;
	-moz-box-shadow: 0.2em 0.2em 0.5px #e6e6e6;
	box-shadow: 0.2em 0.2em 0.5px #e6e6e6;
}

.list-group-item .fa{
	color: #3a57af;
}
.usa{
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	margin-top: -8px;
	color: #3a57af;

	}
.limpio{
	border-left: 0px solid #ddd !important;
	border-right: 0px solid #ddd !important;
	border-bottom: 0px solid #ddd !important;
	-webkit-box-shadow: 0em 0em 0px #e6e6e6 !important;
	-moz-box-shadow: 0em 0em 0px #e6e6e6 !important;
	box-shadow: 0em 0em 0px #e6e6e6 !important;

}
.boton-ver{
	border: 0px solid #ddd !important;
	background-color: #337ab7 !important;
	text-align: center !important;
	text-decoration: none;
}
.boton-ver a{
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}
.boton-ver a:hover{
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}
.mvitas{
	height: 30px;
	font-size: 11px !important;
	font-weight: bold;
	padding: 10px 5px !important;
}
.mvitas .usa{
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	margin-top: -7px;
	color: #3a57af;

}
.botonmas-ver{
	border: 0px solid #ddd !important;
	background-color: #337ab7 !important;
	text-align: center !important;
	text-decoration: none;
}
.botonmas-ver a{
	color: white;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	margin: 0px !important;
}
.botonmas-ver a:hover{
	color: white;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}
.correo{
	margin-top: -25px;
}
/*-----------------------------------------------------------media screen------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
	#buscanav{
		visibility: visible;
		display: inline;
	}
	.infoB{
	display: none;

}
.tituloanuncio h4{
	font-size: 12px;
}
.tituloanuncio h6{
font-size: 12px;
}

.yeyo img{
	width: 100%;
	height: 16em !important;
}	
	#todo{
		width: 100%;
	}
	.contcasa{
		width: 100%;
	}
	.testbox{
		width: 100%;
		position: relative !important;
	}
	#contenido{
		width: 100% !important;
		margin-left: 0 !important;

	}
	.menuhome li{
		width: 100%;
	}
	
	.icono{
		width: 25%;
		left: 0;
		top: 0;
	}
	.slider img{
		height: 18em !important;
	}
	.carousel-indicators{
		display: none;
	}
	.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
		background-color: rgba(52,68,145,1) !important;
	}
	.contac{
		width: 100%;
		font-size: 12px;
	}
	.contac iframe{
		width: 95%;
		height: 200px;
		margin-bottom: 5px;
	}
	#info{
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.video{
		height: 15em !important;
	}
	#interesa{
		margin-left: 0em;
		margin-top: 1em;
	}
	#map{
		height: 15em !important;
	}
	#mini_carousel{
		height: 15em !important;
	}
	.titulovista{
		text-align: center !important;
	}
	.espacio{
		height: 0 !important;
	}
	.vista{
		padding-left: 0 !important;
	}

	
}
@media screen and (min-width: 768px and max-width: 960px) {
	
	.ulx li{
		width: 20%;
		
		
	}
		#buscanav{
		visibility: visible;
		display: inline;
	}
}

@media (max-width: 900px) {
	.infoB{
		display: none;
	}

}
.row.mas-vistas {
padding-left: 20px;
padding-right: 20px;
}